@charset "utf-8";

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.page-logo {
    position: absolute;
    width: 150px;
    margin: 10px;
}
@media (max-width: 600px) {
    .page-logo {
        display: none;
    }
}

.page-title {
    text-align: center;
    font-weight: bold;
    padding-top: 5px;
    padding-bottom: 5px;
    background: linear-gradient(180deg, rgba(0,133,226,1) 25%, rgba(167,193,233,0) 100%);
}

.page-title img {
    width: 600px;
    margin-bottom: 6px;
}
@media (max-width: 600px) {
    .page-title img {
        width: 300px;
    }
}

.page-title h1 {
    font-size: 20pt;
    margin-top: 0;
    margin-bottom: 0;
}

.page-title h2 {
    font-size: 16pt;
    margin-top: 0;
}

.content {
    margin: 6px 6px 10px 6px;
    padding: 0 8px 0 8px;
    font-size: 12pt;
}

.meetings-list-title {
    text-align: center;
    font-weight: bold;
    font-size: 20pt;
    padding-top: 10px;
    padding-bottom: 10px;
    /*border-top: black solid 1px;*/
    background: linear-gradient(180deg, rgba(0,133,226,1) 25%, rgba(167,193,233,0) 100%);
}

.meetings-list {
}

.meetings-list ol, .meetings-list ul {
    margin-top: 0;
    margin-bottom: 10px;
}

.meeting-name {
    font-weight: bold;
}

.meeting-date {
}

.meeting-date-international {
    font-style: italic;
}

.cancelled {
    text-decoration: line-through;
}

.conventions-list-title {
    text-align: center;
    font-weight: bold;
    font-size: 20pt;
    padding-top: 10px;
    padding-bottom: 10px;
    /*border-top: black solid 1px;*/
    background: linear-gradient(180deg, rgba(0,133,226,1) 25%, rgba(167,193,233,0) 100%);
}

.conventions-list {
}

.conventions-list-table {
    border-collapse: collapse;
    /*margin-left: auto;*/
    /*margin-right: auto;*/
}

.conventions-list-table td {
    padding: 2px 8px 2px;
}

.conventions-list-table tr:nth-child(odd) {
    background-color: #e0e0e0;
}

.conventions-list-name {
    font-weight: bold;
    /*padding: 2px 8px 2px;*/
}

.conventions-list-location {
    /*padding: 2px 8px 2px;*/
}

.conventions-list-dates-long {
}

.conventions-list-dates-start {
    /*font-style: italic;*/
    font-weight: bold;
    /*color: #196000;*/
    /*padding: 2px 2px 2px 8px;*/
}

.conventions-list-dates-to {
    /*font-style: italic;*/
    /*font-weight: bold;*/
    /*color: #b9860d;*/
    /*padding: 2px 2px 8px;*/
}

.conventions-list-dates-end {
    /*font-style: italic;*/
    font-weight: bold;
    /*color: #196000;*/
    /*padding: 2px 8px 2px 2px;*/
}

.conventions-list-dates-short {
    display: none;
}

@media (max-width: 600px) {
    .conventions-list-table {
        width: 100%;
        table-layout: fixed;
    }
    .conventions-list-name {
    }
    .conventions-list-location {
        display: none;
    }
    .conventions-list-dates-long {
        display: none;
    }
    .conventions-list-dates-short {
        display: table-cell;
        vertical-align: middle;
        white-space: nowrap;
    }
}

/*----------------------------------*/

.footer {
    padding: 10px 8px 10px;
    background-color: #FFF9F1;
}

.social-media-links {
    width: 100%;
}

.social-media-links th {
    text-align: left;
    font-weight: bold;
    font-size: 12pt;
    padding-right: 20px;
}

.social-media-links td {
    text-align: left;
    vertical-align: top;
}

.copyright {
    font-size: small;
    text-align: center;
}

.last-modified {
    padding-top: 5px;
    font-size: x-small;
    text-align: center;
}

/*.showable-blur {*/
/*  color:transparent;*/
/*  text-shadow: 0 0 8px #000;*/
/*}*/

/*.showable-blur:active {*/
/*  color:inherit;*/
/*  text-shadow: none;*/
/*}*/
