body {
	font-size: 12px;
}

.buttons div a {
	padding: 1px 6px 5px 17px;
}

* html .buttons div  a {
	padding-bottom: 2px;
	line-height: 22px;
}

* html #cp-main .buttons div a {
	padding-top: 4px;
	padding-bottom: 3px;
	line-height: 18px;
}